
<div class="container">
    <div class="title-wrapper">
      <h1 class="title">About</h1>
      <mat-icon class="icon">info</mat-icon>
    </div>
  <!-- <div class="container">
    <mat-toolbar class="title-wrapper">
      <span class="title">About</span>
      <mat-icon class="icon">info</mat-icon>
    </mat-toolbar> -->
    <div class="content-wrapper">
      <div class="about-text">
        <h2>O aplikaciji</h2>
        <p>Ova aplikacija omogućava praćenje podataka o bankama, njihovim filijalama i korisnicima. 
          Njena svrha je da pojednostavi upravljanje informacijama i korisnicima pruži intuitivno i 
          efikasno sredstvo za nadzor svih bitnih podataka.</p>
          <h3>Funkcionalnosti</h3>
        <ul>
          <li>Evidencija podataka o filijalama</li>
          <li>Izrada izveštaja i analiza statistika</li>
          <li>Administracija korisničkih naloga</li>
          <li>Ažuriranje i dodavanje informacija o bankama</li>
        </ul>
      </div>
      <div class="image-wrapper">
        <img src="assets\bank.jpg" alt="Bank Image" class="about-image">
      </div>
    </div>
  </div>
  