
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="author.component.css" />

<div class="container">
  <div class="title-wrapper">
    <h1 class="title">Autor</h1>
    <mat-icon class="icon">person</mat-icon>
  </div>

  <div class="profile-wrapper">
    <img src="assets\milicaa.png"  class="profile-image" />
    <div class="info-wrapper">
      <h2 class="name">Milica Dronjak</h2>
      <p class="bio">Student Inženjerstva informacionih sistema</p>
      <p class="contact"><mat-icon class="icon">email</mat-icon> dronjakmilica50@gmail.com</p>
      <p class="birthdate"><mat-icon class="icon">cake</mat-icon> Datum rođenja: 30. okt 2002.</p>
      <p class="university"><mat-icon class="icon">school</mat-icon> Fakultet: Fakultet Tehničkih nauka, Novi Sad</p>
    </div>
  </div>
</div>
